body {
    text-align: center;
    width: 50%;

    margin: auto;
    border: 10px solid rgb(123, 122, 136);

    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
}

.score {
    display: flex;
    justify-content: center;
    width: 503px;
    min-height: 80px;
    margin: auto;
    margin-top: 20px;

}


.score div {

    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;

}